html,
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  * {
    box-sizing: border-box;
  }
}

a {
  color: #000;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}


